@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
	background-color: #fafafb;
	color: #553454;
	font-family: 'Montserrat', sans-serif;
}

.container {
	margin-top: 5%;
}

.profile-picture {
	height: auto;
	width: 100%;
	object-fit: cover;
	box-shadow: 10px 5px 5px #bbb;
	border-radius: 20px;
	margin-bottom: 10px;
}

.title-color {
	color: #ba5855;
}

.card {
	border-radius: 10px;
}

.card-deck .card {
	margin-bottom: 5%;
}

.card img {
	height: 300px;
	width: 95%;
	margin: auto;
	margin-top: -5%;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.bg-custom {
	background-color: #ba5855;
}

.chapter {
	margin-bottom: 5%;
}

@media (max-width: 500px) {
	.card-deck .card {
		margin-bottom: 10%;
	}

	.chapter {
		margin-bottom: 10%;
	}
}
